<div class="container-fluid">
    <div class="input-group">
        <select class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-label="multiple select for clinic search" id="pathToSearch" name="pathToSearch">
            <option selected class="dropdown-item">Name</option>
            <option class="dropdown-item">City</option>
            <option class="dropdown-item">State</option>
            <option class="dropdown-item">Country</option>
        </select>

        <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons" id="searchValue" name="searchValue">
        <button type="submit" class="btn btn-outline-secondary">
            <img src="images/bootstrap-icon/search.svg" alt="search image">
        </button>
    </div>
</div>
