<form class="signupform container border mt-5 mb-3 d-flex flex-column align-items-center justify-content-center w-50 p-4" method="Post" ng-submit="signupCtrl.signup()">
  <h1>Sign Up here!</h1>
  <div class="mb-3 w-75">
    <label for="usernameSignup" class="form-label">Username:</label>
    <input type="text" name="usernameSignup" id="usernameSignup" ng-required="true" ng-model="signupCtrl.usernameSignup" class="form-control">
  </div>
  
  <div class="mb-3 w-75">
    <label for="emailSignup" class="form-label">Email:</label>
    <input type="email" name="emailSignup" id="emailSignup" ng-required="true" ng-model="signupCtrl.emailSignup" class="form-control">
  </div>
  
  <div class="mb-3 w-75">
    <label for="passwordSignup" class="form-label">Password:</label>
    <input type="password" name="passwordSignup" id="passwordSignup" ng-required="true" ng-model="signupCtrl.passwordSignup" class="form-control">
  </div>

  <div class="mb-3 w-75">
    <label for="confirmPasswordSignup" class="form-label">Confirm password:</label>
    <input type="password" name="confirmPasswordSignup" id="confirmPasswordSignup" ng-required="true" ng-model="signupCtrl.confirmPasswordSignup" class="form-control">
    <p class="text-danger mt-1" ng-show="signupCtrl.confirmPasswordSignup !== signupCtrl.passwordSignup">Passwords do not match. Please double-check and try again.</p>
  </div>
  
  <div class="mb-3 w-75">
    <label for="clinicNameSignup" class="form-label">Clinic name:</label>
    <input type="text" name="clinicNameSignup" id="clinicNameSignup" ng-required="true" ng-model="signupCtrl.clinicNameSignup" disabled class="form-control">
  </div>

  <button type="submit" class="btn btn-primary mb-3 w-25" >Confirm</button>
  <a href="" class="link-primary link-offset-1 mb-3">Already have an account ? Login here!</a>
</form>

<div class="container d-flex align-items-center justify-content-center">
  <div class="alert alert-success alert-dismissible fade mb-3 w-100" id="authAlert" ng-show="signupCtrl.showAlert"> 
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <span id="authAction"></span> <strong id="authState"></strong>
    <p id="alertMessage"></p>
  </div>
</div>
