<nav class="navbar navbar-expand-lg navbar-light sticky-top mb-3" style="background-color: white;">
  <!-- Navbar content -->
   <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="images/default/Bootstrap_logo.png" alt="" width="40" height="30" class="d-inline-block align-text-top">
      PtEverywhere
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLink" aria-controls="navbarLink" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLink">
        <div class="navbar-nav" ng-if="headerAppCtrl.links.length">
          <a class="nav-link"  ng-repeat="link in headerAppCtrl.links" href="{{link.url}}"> {{link.name}} </a>
        </div>


        <div class="navbar-nav ms-auto"> 
            <a class="nav-link" href="{{headerAppCtrl.linkProfile}}" ng-if="headerAppCtrl.loggedIn">
                <img src="images/default/default-pfp.png" alt="User Profile" width="50" height="50" class="d-inline-block"> 
                {{ headerAppCtrl.username }}
            </a>

            <a href="#!/login" class="btn btn-outline-dark" ng-if="!headerAppCtrl.loggedIn">Login</a>
        </div>
    </div>
  </div>
</nav>