<div class="container-fluid">
    <h1 class="text-center">All account or sum shi</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Status</th>
                <th scope="col">Clinic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark@example.com</td>
                <td>OttoMark</td>
                <td>Activated</td>
                <td>Clinic_1</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Tom@example.com</td>
                <td>Tom Hanks</td>
                <td>Deactivated</td>
                <td>Clinic_2</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>MarkXoan@example.com</td>
                <td>Mark Xoanian</td>
                <td>Registered</td>
                <td>Clinic_3</td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Harry@osb.com</td>
                <td>Harry Osborns</td>
                <td>Activated</td>
                <td>Clinic_69</td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td>Anna@Hath.com</td>
                <td>Anna Hatheway</td>
                <td>Locked</td>
                <td>Clinic_69</td>
            </tr>
        </tbody>
    </table>
</div>
