<div class="container-fluid mb-5">
    <div class="row g-2">
        <div class="col-4">
            <div class="card w-100">
                <img src="images/clinics/default-clinics.jpg" class="card-img-top" alt="Clinic picture">
                <div class="card-body vstack gap-2">
                    <h3 class="card-title text-center">Clinic Name</h3>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editClinic">
                        Edit clinic
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editClinicClientList">
                        Edit clinic's client list
                    </button>
                    <a role="button" class="btn btn-primary" href="#">
                        Clinic's client list
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8 border rounded" >
            <h3 class="text-center mb-3 mt-3">Clinic's info</h3>
            <div class="row mb-3" ng-if="clinicProfileCtrl.clinicName">
                <div class="col-4">
                    Clinic name
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.clinicName }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.clinicName">

            <div class="row mb-3" ng-if="clinicProfileCtrl.locationName">
                <div class="col-4">
                    Location name
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.locationName }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.locationName">

            <div class="row mb-3" ng-if="clinicProfileCtrl.number">
                <div class="col-4">
                    Number
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.number }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.number">

            <div class="row mb-3" ng-if="clinicProfileCtrl.street">
                <div class="col-4">
                    Street
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.street }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.street">

            <div class="row mb-3" ng-if="clinicProfileCtrl.ward">
                <div class="col-4">
                    Ward
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.ward }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.ward">

            <div class="row mb-3" ng-if="clinicProfileCtrl.district">
                <div class="col-4">
                    District
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.district }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.district">

            <div class="row mb-3" ng-if="clinicProfileCtrl.city">
                <div class="col-4">
                    City
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.city }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.city">

            <div class="row mb-3" ng-if="clinicProfileCtrl.state">
                <div class="col-4">
                    State
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.state }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.state">

            <div class="row mb-3" ng-if="clinicProfileCtrl.country">
                <div class="col-4">
                    Country
                </div>
                <div class="col-8">
                    {{ clinicProfileCtrl.country }}
                </div>
            </div>
            <hr ng-if="clinicProfileCtrl.country">
        </div>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="alert alert-success alert-dismissible fade mb-3 w-100" id="authAlert" ng-show="clinicProfileCtrl.showAlert"> 
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <span id="authAction"></span> <strong id="authState"></strong>
    <p id="alertMessage"></p>
  </div>
</div>


<form class="modal fade" id="editClinic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" ng-if="clinicProfileCtrl.role === 'clinicAdmin'" ng-submit="clinicProfileCtrl.clinicEdit()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Clinic's Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="editClinicName" class="form-label">Clinic name</label>
        <input type="text" id="editClinicName" class="form-control mb-3" ng-model="clinicProfileCtrl.editclinicName">

        <label for="editLocationName" class="form-label">Location name</label>
        <input type="text" id="editLocationName" class="form-control mb-3" ng-model="clinicProfileCtrl.editlocationName">

        <label for="editNumber" class="form-label">Number</label>
        <input type="number" id="editNumber" class="form-control mb-3" ng-model="clinicProfileCtrl.editnumber">

        <label for="editStreet" class="form-label">Street</label>
        <input type="text" id="editStreet" class="form-control mb-3" ng-model="clinicProfileCtrl.editstreet">

        <label for="editWard" class="form-label">Ward</label>
        <input type="text" id="editWard" class="form-control mb-3" ng-model="clinicProfileCtrl.editward">

        <label for="editDistrict" class="form-label">District</label>
        <input type="text" id="editDistrict" class="form-control mb-3" ng-model="clinicProfileCtrl.editdistrict">

        <label for="editCity" class="form-label">City</label>
        <input type="text" id="editCity" class="form-control mb-3" ng-model="clinicProfileCtrl.editcity">

        <label for="editState" class="form-label">State</label>
        <input type="text" id="editState" class="form-control mb-3" ng-model="clinicProfileCtrl.editstate">

        <label for="editCountry" class="form-label">Country</label>
        <input type="text" id="editCountry" class="form-control mb-3" ng-model="clinicProfileCtrl.editcountry">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</form>


<!-- Maybe not doing this -->
<div class="modal fade modal-xl" id="editClinicClientList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit clinic's client list</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success alert-dismissible fade mb-3" role="alert">
            <strong>Success!</strong> Add user successfully
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input to search" id="searchEmail" name="searchEmail">
            <button type="submit" class="btn btn-outline-secondary">
                <img src="images/bootstrap-icon/search.svg" alt="search image">
            </button>
        </div>
        
        <div class="container-fluid hstack flex-wrap gap-3 justify-content-center" id="userList">
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="images/default/default-pfp.png" class="rounded me-2" alt="User profile picture">
                    <strong class="me-auto">Bootstrap</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    example@email.com
                </div>
            </div>

            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="images/default/default-pfp.png" class="rounded me-2" alt="User profile picture">
                    <strong class="me-auto">Bootstrap</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    example@email.com
                </div>
            </div>

            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="images/default/default-pfp.png" class="rounded me-2" alt="User profile picture">
                    <strong class="me-auto">Bootstrap</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    example@email.com
                </div>
            </div>

            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="images/default/default-pfp.png" class="rounded me-2" alt="User profile picture">
                    <strong class="me-auto">Bootstrap</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    example@email.com
                </div>
            </div>

            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="images/default/default-pfp.png" class="rounded me-2" alt="User profile picture">
                    <strong class="me-auto">Bootstrap</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    example@email.com
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
