<div class="container-fluid">
    <div class="container-fluid">
        <div class="input-group">
            <select class="form-select" aria-label="multiple select for clinic search" id="pathToFind" name="pathToFind" ng-model="clientCtrl.pathToFind">
                <option selected value="username" class="dropdown-item">Username</option>
                <option value="email" class="dropdown-item">Email</option>
                <option value="accountStatus" class="dropdown-item">Status</option>
                <option value="clinicName" class="dropdown-item">Clinic</option>
            </select>

            <input type="text" class="form-control" aria-label="Text input with dropdown buttons" id="valuesToFind" name="valuesToFind" ng-model="clientCtrl.valuesToFind">
            <button class="btn btn-outline-secondary" ng-click="clientCtrl.fetchClients()">
                <img src="images/bootstrap-icon/search.svg" alt="search image">
            </button>
        </div>

        <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#addClient" ng-if="clientCtrl.user.role === 'clinicAdmin'">
            Add Client
        </button>
    </div>

    <div class="container d-flex align-items-center justify-content-center">
        <div class="alert alert-success alert-dismissible show mt-3 w-100" id="authAlert" ng-show="clientCtrl.showAlert"> 
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span id="authAction"></span> <strong id="authState"></strong>
            <p id="alertMessage"></p>
        </div>
    </div>


    <div class="container-fluid">
        <h1 class="text-center mt-3">Client account</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Status</th>
                    <th scope="col">Clinic</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in clientCtrl.clients" ng-click="clientCtrl.goToClient(client._id)">
                    <th scope="row">{{$index + 1 + (clientCtrl.currentPage - 1) * clientCtrl.clientsPerPage}}</th>
                    <td>{{client.email}}</td>
                    <td>{{client.username}}</td>
                    <td>{{client.accountStatus}}</td>
                    <td>{{client.clinicAttended[0].clinicName}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="pagination for client list" class="container d-flex justify-content-center mt-5">
        <ul class="pagination">
            <li class="page-item" ng-if="clientCtrl.currentPage > 1"><a href="#!/client/{{clientCtrl.currentPage - 1}}" class="page-link">Previous</a></li>
            <li class="page-item" ng-if="clientCtrl.currentPage > 1"><a class="page-link" href="#!/client/{{clientCtrl.currentPage - 1}}"> {{ clientCtrl.currentPage - 1 }}</a></li>
            <li class="page-item active">
                <a class="page-link" aria-current="page"> {{ clientCtrl.currentPage }} </a>
            </li>
            <li class="page-item" ng-if="clientCtrl.currentPage < clientCtrl.totalPages"><a class="page-link" href="#!/client/{{clientCtrl.currentPage + 1}}"> {{ clientCtrl.currentPage + 1 }} </a></li>
            <li class="page-item" ng-if="clientCtrl.currentPage < clientCtrl.totalPages"><a class="page-link" href="#!/client/{{clientCtrl.currentPage + 1}}">Next</a></li>
        </ul>
    </nav>
</div>


<form class="modal fade" id="addClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" ng-submit="clientCtrl.addClient()" ng-if="clientCtrl.user.role === 'clinicAdmin'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="staticBackdropLabel">Add Client</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="addUsername" class="form-label">Username</label>
        <input type="text" id="addUsername" class="form-control mb-3" ng-required="true" ng-model="clientCtrl.addUsername">

        <label for="addEmail" class="form-label">Email</label>
        <input type="email" id="addEmail" class="form-control mb-3" ng-required="true" ng-model="clientCtrl.addEmail">

        <label for="addClinicName" class="form-label">Clinic name</label>
        <input type="text" id="addClinicName" class="form-control mb-3" ng-required="true" ng-model="clientCtrl.addClinicName">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</form>